html {
	width: 960px;
	margin: 0 auto;
}



body {
	background: url(../images/backgroundimg.png);
	width: 960px;
	margin: 0 auto;
	color: #777777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13.5px;
	line-height: 1.5;
}

header {
	position: absolute;
	padding: 0px 20px 0 20px;
	margin: 150px 10px 0 0px;
	left: 0;
	top: 0;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	/*overflow: auto;*/
	background: white;
	border-bottom: solid #cccccc;
	clear:both;
	font-family: Georgia, Times, "Times New Roman", serif;

}


#name {
	float: left;
	width: 50%;
	height:80px;
	font-size: 50px;
	background: #4aaaa5;
	color: white;
	text-align: center;
	padding-top: 20px; 

}

#pages {
	
	float: right;
	width: 30%;
	height: 600px;
	padding-top: 40px;
	display: inline-block;
	text-align: center;
	font-size: 15px;
}

#container, #container2, #container3 {

	float: left;
	width: 590px;
	background: white;
	padding: 10px 20px 0 20px;
	margin: 150px 10px 150px 0px;
	border: solid #dddddd;
	

}

#container3 {
	/*overflow: auto;*/
}

input {
	
	border-color: #dddddd;
	padding: 5px 0 5px 10px;
	margin-left: 10px;
	width: 95%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 

}

textarea {
	width: 95%;
	height: 100px;
	border-color: #dddddd;
	padding: 5px 0 5px 10px;
	margin-left: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
	resize: none;
}

button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*#Row1 {*/
/*	width: 100%;
	height: 100%;
	background: pink;
}
*/
/*#i1, #i3, #i5 {
	float: left;
	margin-bottom: 30px;
}
#i2, #i4, #i6 {
	float: right;
	margin-bottom: 30px;
}
*/



#aboutme {
	color:#4aaaa5;
}

#conectwme {
	color:#4aaaa5;
}

#connect {
	float: right;
	width: 210px;
	height: 180px;
	padding: 10px 20px 0 20px;
	margin: 150px 20px 10px 0px;
	background: white;
	border: solid #dddddd;
	text-align: center;

}
	#sitelinks{
		display: inline-block;
	}
	


#picture{
	height: 200px;
	width: 275px;
	/*position: absolute;*/
	background: url("../images/placeimg1.jpeg");
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#picture3{
	height: 200px;
	width: 275px;
	/*position: absolute;*/
	background: url("../images/placeimg3.jpeg");
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#picture5{
	height: 200px;
	width: 275px;
	/*position: absolute;*/
	background: url("../images/placeimg5.jpeg");
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#picture2 {
	height: 200px;
	width: 275px;
	/*position: absolute;*/
	background: url("../images/placeimg2.jpeg");
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#picture4 {
	height: 200px;
	width: 275px;
	/*position: absolute;*/
	background: url("../images/placeimg4.jpeg");
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

#picture-text, #picture-text3, #picture-text5 {
	height: 20px;
	width: 275px;
	background: #4aaaa5;
	color: white;
	position: relative;
	margin-top: 150px;
	display: inline-block;
	z-index: 0;
	float: left;
	text-align: center;
	padding-top: 15px;
	font-size: 16px;
	font-weight: bold;
	}

#picture-text2, #picture-text4 {
	height: 20px;
	width: 275px;
	background: #4aaaa5;
	color: white;
	position: relative;
	margin-top: 150px;
	display: inline-block;
	z-index: 0;
	float: right;
	text-align: center;
	padding-top: 15px;
	font-size: 16px;
	font-weight: bold;

}


#myimage {
	float: left;
	padding: 0 20px 0 0;
}

hr {
	height: 2px;
	/*color: #dddddd;*/
	background-color: #cccccc;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    color: white;
    background: #666666;
    border-top: 7px solid #4aaaa5;
    clear: both;
    margin: 0 auto;
    font-size: 12px;
    }